* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 8, 40);
    color: white;
    font-family: Poppins;
}

nav {
    padding: 20px 148px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 1.12rem;
    background-color: rgb(27, 27, 49);
}

a{
    text-decoration: none;
    color: white;
}

nav .nav-links{
    display: flex;
    gap: 50px;
}

nav .nav-links a{
    transition: color 0.3s ease;
}

nav .nav-links a:hover,
nav .nav-links a.selected{
    color: rgb(170, 57, 239);
}
.left {
    font-size: 1.6rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
    margin-top: 40px;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(167, 80, 248);
}

#element {
    color: rgb(167, 80, 248);
}



.recent{
    padding: 60px 148px;
    background-color: rgb(8, 8, 40);  
}
.recent .projects{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.recent .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recent .header h4,
.separator h4 {
    font-size: 20px;
    font-weight: 400;
}

.recent .projects {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.recent .projects .project-item{
    background-color: rgb(27, 27, 49);
    padding: 24px;
    width: 460px;
}
.recent .projects .project-item h3{
    font-size: 26px;
    margin-bottom: 18px;
}
.recent .projects .project-item .info{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.recent .projects .project-item .info h5{
    font-size: 18px;
    font-weight: 400;
}
.recent .projects .project-item .info p{
    width: 400px;
}
.separator{
    padding: 40px 148px 0;
}

.separator h4{
    margin-bottom: 30px;
}
.featured{
    padding: 40px 290px 0;
}

.featured .item,
.projects-list .item{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e0e0e0;
}
.featured .item img,
.projects-list .item img{
    width: 320px;

}
.featured .item .details h3,
.projects-list .item .details .item-info{
    font-size: 30px;
    margin-bottom: 16px;
}

.featured .item .details .item-info,
.projects-list .item .details .item-info{ 
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.featured .item  .details .item-info .year-badge,
.projects-list .item .details .item-info .year-badge{
    background-color: #8c97e0;
    padding: 2px 14px;
    border-radius: 16px;
    font-size: 14px;
}
.featured .item  .details .item-info h4,
.projects-list .item .details .item-info h4{
    color: #8695a4;
    font-size: 18px;
}
.featured .item .details p,
.projects-list .item .details p{
    width: 700 px;
    text-align: justify;
}

.page-title {
    padding: 20px 0px 10px 10px;
    width: 100%;
}

.header {
    font-size: 1.255rem;
}
.leftside img{
   width: 20%;
   border-radius: 100px;
   margin-top: 50px;
   margin-left: 80px;
}

.leftside .intro {
    margin-top: -200px;
    margin-left: 480px;
}

button {
    padding: 10px;
    margin-top: 20px;
    margin-left: 1px;
    background: rgb(159, 115, 230);
    color: rgb(30, 4, 71);
    border: 2px solid rgb(159, 115, 230);
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.skills h2{
    margin-top: 130px;
    padding: 40px 0px 10px 60px;
    width: 100%;
    color: rgb(236, 229, 242);
    font-weight: 500;
}

.skillsSection .item {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}

.skillsSection .item img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
}

.skillsSection .item .details h3 {
    font-size: 25px;
    margin-bottom: 16px;
    font-weight: 500;
}
.skillsSection .item .details .item-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.skillsSection .item .details .item-info h4 {
    color: #b2becb;
    font-size: 18px;
}

.page-title h1{
    padding: 20px 0px 0px 130px;
    width: 100%;
    color: rgb(234, 224, 244);
    font-weight: 400;
}

.container {
    margin-top: -50px;
    padding: 100px;
    font-size: 14px;
}

.container .socials img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
}

.container .socials .socials-item, .mail{
    display: flex;
    gap: 30px;
    font-size: 17px;
    margin-bottom: 30px;
    margin-left: 70px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}

.socials-details .item-username p{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.socials-details i{
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.socials-item .socials-details i:hover{
    color: rgb(111, 42, 176);
}

.footer {
    background-color: #02031582;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .socials {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 20px;
}
footer .socials i{
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}
footer .socials i:hover{
    color: rgb(111, 42, 176);
}
footer p{
    font-size: 14px;
}

.content {
    padding: 30px 148px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600*1280px) {
  
  nav{
    flex-direction: column;
    padding: 20px 140px;
  }
  
  nav .left .nav-links{
    margin-bottom: 40px;
  }
  .firstSection {
    flex-direction: column-reverse;
  }
  .leftSection{
    width: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightSection{
    width: 600px !important;
    display: flex;
    justify-content: center;
  }

  .rightSection img{
    width: 45vw;
    margin-bottom: 73px;
  }
  
  .skillsSection .item img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
}

.leftside .intro {
    margin-top: -100px;
    margin-left: 280px;
    font-size: 15px;
    
}

.page-title h1{
    padding: 20px 0px 0px 130px;
    width: 100%;
    font-weight: 500;
}

.projects-list .item img{
    width: 500px !important;

}

.content {
    padding: 30px 148px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  body{
    min-width: fit-content;
  }
  
}
